* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.form-register{
  flex: 1 1 calc(33.33% - 20px);
    width: 400px;
    background-color: #8699ad;
    padding: 30px;
    margin: 10px;
    margin-top: 10px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c229ad;
    display: inline-block;
    flex-direction: column;
    gap: 16px;
}
.pagina{
    background-color: rgb(160, 158, 205);
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 20px;
    border: 1px solid #8699ad;
    border-radius: 5px;
    flex: 1; /* Hace que cada columna ocupe el mismo espacio */
    text-align: center;
  }
.form_texto_corto{
    width: 100%;
    background: #cccfd2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #8699ad;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.form_texto_largo{
    width: 100%;
    height: 100px;
    background: #cccfd2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #8699ad;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: start;
}

.form-register {
  width: 400px;
  background-color: #8c30a0;
  padding: 30px;
  margin: 10px; /* Centra automáticamente */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #3c434b;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  border-radius: 8px; /* Bordes redondeados */
}


.form-register a:hover{
color: white;
text-decoration: underline;
}

.boton{
  width: 100%;
  background-color: #033a75;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
font-size: 16pxS;
}

.titulo{
font-size: 50px;
text-align: center;
margin-bottom: 10px;
font-weight: 600;
text-transform: uppercase;

margin: 0;
padding: 0;
}

.datos-contacto{
  flex: 1 1 calc(33.33% - 20px);
   height: auto;
   width: 50%;
   text-align: center;
   font-size: 32px;
   margin-top: 20px;
   background-color: #a8b1bb;
   padding-block: 10px 10px;
   margin-block: 10px 10px;
}

.contenido{
  display: flex;
}
.tituloFormulario{
  color: #24132a;
}
.subtitulo{
  font-family: calibri;
  font-size: 30px;
}

i{
  font-family: none;
  font-style: normal;
  font-size: medium;
}

.parrafo{
  font-size: 25px;
}