html, body {
  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  box-sizing: border-box; 
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%; 
}

body{
  background-color: #f4f4f4;
}

.container-fluid .banner-comercializacion {
  margin-left: 10px;
  margin-right: 10px; 
  max-width: calc(100% - 40px);
  border-radius: 5px;
}

h1{
  text-align: center;
  font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
  background-color:  rgb(209, 207, 207);
  box-shadow: none;
}

.bloques {
  width: 900px; 
  padding: 20px;
  margin: 30px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left; 
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 768px) {
  main {
      width: 90%; 
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.bloques h1 {
  color: green;
}

.botones {
  margin-top: 10px;
  display: flex;
  justify-content: center; 
  gap: 10px; 
}

button:hover {
  background-color: rgb(209, 207, 207); 
}
