*   { margin: 0%;
      padding: 0px;
    }
    .titulo{
    background-color: #92a8d1;
    margin: 20px;
    }
    .parrafo{
    background-color: green;
    padding-top:50px;
    padding-left: 10px;
    padding-bottom: 60px;
    padding-right: 300px;
    }
  
  .c-item{
    height: 480px;
  }

  .c-img{
    height: auto;
    object-fit: cover;
  }
   
  .mt-3 {
    margin-top: 3 !important;
  }

  .ms-1 {
    margin-right: 7 !important;
  }

  .color{
    background-color: aqua;
  }

  .px-2 {
    padding-left: 5 !important;
    padding-right: 5 !important;
  }

  .p-3 {
    padding: 3 !important;
  }

  .footer {
    background-color: rgb(44, 218, 32);
    padding: 1em 0;
    width: 100%;
}