<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initialscale=1,
        shrink-to-fit=no">
       <!-- <link rel= "stylesheet" href="assets/css/miEstilo.css"> -->
        <title>Mi primera pagina web</title>
        <nav class="menu">
            <i class="fa-solid fa-cart-shopping"></i>
            <style>
                a {color: blue}
                ul :hover{ color:blue; font-size: 30px; font-weight: bold;} 
             </style>
            <ul>
            <li><a href="https://www.google.com">Google</a></li>
            <li><a href="https://www.yahoo.com">Yahoo</a></li>
            <li><a href="https://exa.unne.edu.ar">Facena</a></li>
            </ul></nav>
    </head>
    <body>
        <img src= "i">
        <h1>Bienvenidos a Taller de Programación I</h1>
        <p>Hoy sólo práctico de configuración</p>
        <p>Somos una empresa que se dedica a la venta de relojes de mesa y pared con
            diseños únicos e innovadores. Utilizamos materia prima de calidad. Elaboramos
            productos a la medida del cliente. </p>
            <figure>
                <img src="./Assets/local.jpg" alt="Local comercial">
                <figcaption>Local en av. peña 223</figcaption>
            </figure>
    </body>
</html>