<!DOCTYPE html> 
<html>  
    <head>  
        <link rel="stylesheet" href="assets/css/miEstilo.css" >
        <meta name="viewport" content="width=device-width, initialscale=1,  
        shrink-to-fit=no"> 
        <title>Mi primera pagina </title>  
    </head>  
    <body>  
        <h1>Bienvenidos a Taller de Programación I</h1>  
        <p>Hoy sólo práctico de configuración</p>  
        <div style="color: blue;"> 
            <h2> Ejemplo de div y span </h2> 
            <p> 
            Esto es un párrafo dentro de un div,  
            <span style="color: red;"> y esto un span dentro de un 
            párrafo.</span> 
            </p> 
            </div> 
    </body>  
</html>  